{% extends "layout.html.twig" %}

{% block body %}
    <p class="lead">
        Generate uber-secure passwords for the sites you use. Check "Make Password Unguessable" to
        ensure maximum security.
    </p>
    <form role="form" action="/" method="post">
        <div class="form-group">
            <label for="site">Generate Password For Site:</label>
            <input type="text" class="form-control" id="site" name="site" placeholder="www.example.com" autofocus>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="unguessable"> Make Password Unguessable?
            </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}