{% extends "layout.html.twig" %}

{% block body %}
    <p class="lead">
        Please do <em>not</em> write down the following password. If you need to recover your password you can
        re-enter the site name at any time, but it is up to you to remember if your password was unguessable.
    </p>
    <h3 class="text-success">
        Secret: {{ secret }}
    </h3>
    <p>
        <a class="btn btn-default" href="/">Generate Another Secure Site Password</a>
    </p>
{% endblock %}